@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter_18pt-ExtraBold.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Light.ttf);
}
$color1: white;
$color2: black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
